<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div class="wrapper">
    <header>
        <h1><a href="https://github.com/clij2">CLIJ2</a></h1>
        <img src="{{site.logo | relative_url}}" alt="Logo" />
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <p class="view"><a href="https://github.com/clij2">View CLIJ2 on GitHub</a></p>

        <ul class="downloads">
            <li><a href="https://clij.github.io/clij2-docs/installationInFiji">Install in Fiji</a></li>
            <li><a href="https://github.com/clij/clicy">Install in Icy</a></li>
            <li><a href="https://github.com/clij/clatlab">Install in Matlab</a></li>
        </ul>
    </header>
    <section>

        {{ content }}

    </section>
    <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="https://github.com/haesleinhuepf">haesleinhuepf</a></p>
        <p><a href="https://clij.github.io/imprint">Imprint</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
    </footer>
</div>
<script src="/assets/js/scale.fix.js"></script>
</body>
</html>